<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>TortoiseSVN - code</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="scripts/prettify/prettify.js"></script>
</head>
<body onload="prettyPrint()" bgcolor="white">
<div id="wrapper">
    <!--#include FILE="menu.html" -->
	<div id="page">
		<div id="banner">&nbsp;</div>
		<div id="content">
        
			<div class="post">
				<h1 class="title"><a href="#">TortoiseSVN code</a></h1>
				<p class="meta">Posted on October 2, 2010
					&nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
                $ADSENSE_TOP$
				<div class="entry">
                <pre class="prettyprint">
class Voila {
public:
  // Voila
  static const string VOILA = "Voila";

  // will not interfere with embedded tags.
}
</pre>
		</div>
		<!-- end #content -->
        
        <!--#include FILE="sidebar.html" -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
    <!--#include FILE="footer.html" -->
</div>
</body>
</html>
