    <div id="header">
        <div id="logo">
            <h1><a href="/">TortoiseSVN</a></h1>
            <p>最酷的 (Sub)version 版本控制系统</p>
        </div>
    </div>
    <!-- end #header -->
    <div id="menu">
        <ul>
            <li><a href="index.zh.html">首页</a></li>
            <li><a href="about.zh.html">关于我们</a></li>
            <li><a href="downloads.zh.html">下载</a></li>
            <li><a href="translation.html">翻译</a></li>
            <li><a href="support.zh.html">支持/文档</a></li>
            <li><a href="http://stefanstools.sourceforge.net/index.zh.html">Stefan工具</a></li>
        </ul>
    </div>
    <!-- end #menu -->
