		<div id="sidebar">
			<ul>
				<li>
					<h2>Über TortoiseSVN</h2>
					<p>TortoiseSVN ist eine einfach zu benutzender SCM / Versionskontroll-
					Software für Microsoft Windows und wahrscheinlich der beste
					<a href="http://subversion.apache.org/">Apache<sup>&trade;</sup> Subversion<sup>&reg;</sup></a>
					Client den's gibt.
					Integriert in den Windows Explorer erlaubt einfache und
					intuitive Bedienung und ist damit auch unabhängig von
					jedem Entwicklungstool.
					</p>
				</li>
				<li>
					<h2>Info</h2>
					<ul>
						<li><a href="newsarchive.html" rel="en">Neuigkeiten</a><span>News Archive</span></li>
						<li><a href="features.de.html">Features</a><span>Highlights von TortoiseSVN</span></li>
						<li><a href="screenshots.de.html">Screenshots</a><span>Screenshots von verschiedenen Dialogen</span></li>
						<li><a href="donate.de.html">Spenden</a><span>Wie wärs mit einem Geschenk?</span></li>
						<li><a href="testimonials.html" rel="en">Testimonials</a><span>Was Benutzer über TortoiseSVN sagen (Englisch)</span></li>
					</ul>
				</li>
				<li>
					<h2>Support</h2>
					<ul>
						<li><a href="faq.de.html">FAQ</a><span>Häufig gestellte Fragen</span></li>
						<li><a href="support.de.html">Hilfe</a><span>Wie und wo man Hilfe kriegt</span></li>
						<li><a href="usefultips.de.html">Nützliche Tips</a><span>Tips für weniger bekannte Features</span></li>
						<li><a href="community.html" rel="en">Mailing lists</a><span>Wo man die Mailing Listen findet</span></li>
						<li><a href="reportbug.html" rel="en">Fehler melden</a><span>Wie und Wo man Fehler melden kann</span></li>
						<li><a href="status.html" rel="en">Projektstatus</a><span>Übersicht aller Releases</span></li>
					</ul>
				</li>
				<li>
					<h2>Misc</h2>
					<ul>
						<li><a href="issuetrackerplugins.de.html">Issue tracker plugins</a><span>Plugins zur Verbindung mit Issue Trackern</span></li>
						<li><a href="svnprotocolhandler.de.html">SVNProtocolHandler</a><span>Ein plugin für IE um svn:// Repositories anzuzeigen</span></li>
						<li><a href="blogposts.html" rel="en">Verschiedenes</a><span>Artikel welche nicht in eine Kategorie passen</span></li>
					</ul>
				</li>
				<li>
					<h2>Open Source</h2>
					<ul>
						<li><a href="http://sourceforge.net/blog/cca07/"><img src="img/SFAward.png" alt="Sourceforge.net Community Choice Award" title="Sourceforge.net Community Choice Award" width="200" height="45"/></a></li>
						<li><script src="http://www.ohloh.net/p/3180/widgets/project_users.js?style=blue" type="text/javascript"></script></li>
						<li><script src="http://www.ohloh.net/p/3180/widgets/project_thin_badge.js" type="text/javascript"></script></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
