// Test file for SubWCRev

char *Revision = "$WCREV$";
char *Modified = "$WCMODS?Modified:Not modified$";
char *Date     = "$WCDATE$";
char *TimeNow  = "$WCNOW$";
char *RevRange = "$WCRANGE$";
char *Mixed    = "$WCMIXED?Mixed revision WC:Not mixed$";
char *URL      = "$WCURL$";
char *isInSVN  = "$WCINSVN?versioned:not versioned$";
char *needslck = "$WCNEEDSLOCK?TRUE:FALSE$";
char *islocked = "$WCISLOCKED?locked:not locked$";
char *lockdate = "$WCLOCKDATE$";
char *lockown  = "$WCLOCKOWNER$";
char *lockcmt  = "$WCLOCKCOMMENT$";

#if $WCMODS?1:0$
#error Source is modified
#endif

// EndOfFile

