rem use this file to set the paths to the required tools TortoiseSVN
rem needs to build everything.

rem first make a copy of this file and rename the copy to TortoiseVars.bat
rem then adjust the paths.

rem you need to set the PATH variable to point to:
rem gettext utilities (http://www.gnu.org/software/gettext/)
rem fop (http:/xml.apache.org/fop)
rem hhc.exe (the microsoft htmlhelp compiler, search the msdn for it)
rem doxygen (http://www.doxygen.org)
rem the dot utilities (http://www.research.att.com/sw/tools/graphviz/)
rem the NSIS installer (http://nsis.sourceforge.net)

set PATH=F:\Development\SVN\TortoiseSVN\Tools\;%PATH%
set PATH=F:\Development\SVN\TortoiseSVN\Tools\fop\;%PATH%
set PATH=C:\Programme\NSIS\;%PATH%

rem the XSLROOT variable must point to the docbook xsl files from http://sourceforge.net/projects/docbook/
set XSLROOT=F:/Development/SVN/TortoiseSVN/Tools/xsl

set TortoiseVars="1"
