<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book SYSTEM "../../dtd/dblite.dtd">
<book id="tsvn" lang="en" xmlns:xi="http://www.w3.org/2003/XInclude">
	<title>TortoiseSVN</title>
	<subtitle>A Subversion client for Windows</subtitle>
	<bookinfo>
		<edition>First</edition>
		<authorgroup>
			<author>
				<firstname>Stefan</firstname>
				<surname>Küng</surname>
			</author>
			<author>
				<firstname>Lübbe</firstname>
				<surname>Onken</surname>
			</author>
			<author>
				<firstname>Simon</firstname>
				<surname>Large</surname>
			</author>
		</authorgroup>
		<pubdate>Last changed date: $WCDATE$</pubdate>
	</bookinfo>
	<!-- include external files -->
	<xi:include href="./tsvn_preface.xml"/>
	<xi:include href="./tsvn_introduction.xml"/>
	<xi:include href="./tsvn_basics.xml"/>
	<xi:include href="./tsvn_serversetup.xml"/>
	<xi:include href="./tsvn_dug/dug.xml"/>
	<xi:include href="./tsvn_app_faq.xml"/>
	<xi:include href="./tsvn_app_automation.xml"/>
	<index id="index"/>
</book>
