            </div>  <!-- .content -->
        </div>  <!-- .page -->

        <div class="footer">
            <p>&hearts; 2004-{{ site.time | date: '%Y' }} &ndash; <span title={{ site.time | date_to_xmlschema }}>The TortoiseSVN team</span>. Please share.</p>
        </div>  <!-- .footer -->

    </div>  <!-- .wrapper -->

    <script async src="/assets/js/main.js"></script>

    {% if page.useFancybox %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="/assets/js/fancybox.js"></script>
    {% endif %}

    {% if page.showAds %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}

    {% if page.includeSFAccel %}
    {% include sf-accel.html %}
    {% endif %}

    {% if page.includeGCSE %}
    <script>
        (function() {
            var cx = 'partner-pub-0430507460695576:j0zyjq-56po';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    {% endif %}


</body>
</html>
