    </div> <!-- .page -->

    <div class="footer">
        <p>&hearts; 2004-2015 &ndash; <span title="@@DATE">The TortoiseSVN team</span>. Please share.</p>
    </div> <!-- .footer -->

    </div> <!-- .wrapper -->

    @@bottomHtml

    <script>
        (function() {
            "use strict";

            (function() {

                var docEl = document.documentElement;
                var classRE = new RegExp("(^|\\s)no-js(\\s|$)");
                var className = docEl.className;

                docEl.className = className.replace(classRE, "$1js$2");
            })();

            function loadOnLoad() {

                var iframeEl = document.createElement("iframe");
                iframeEl.setAttribute("src", "https://www.openhub.net/p/tortoisesvn/widgets/project_users?style=blue");
                iframeEl.scrolling = "no";
                iframeEl.frameborder = "0";
                iframeEl.style.border = "none";
                iframeEl.style.width = "95px";
                iframeEl.style.height = "115px";
                document.getElementById("iframe-badge").appendChild(iframeEl);

                var imgDefer = document.getElementsByTagName("img");
                for (var i = 0; i < imgDefer.length; i++) {
                    if (imgDefer[i].getAttribute("data-src")) {
                        imgDefer[i].setAttribute("src", imgDefer[i].getAttribute("data-src"));
                    }
                }

            }

            if (window.addEventListener) {
                window.addEventListener("load", loadOnLoad, false);
            } else if (window.attachEvent) {
                window.attachEvent("onload", loadOnLoad);
            } else {
                window.onload = loadOnLoad;
            }

        }());

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66283773-1', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>

</body>
</html>
