    <div class="header">
        <div class="logo">
            <h1><a href="./">TortoiseSVN</a></h1>
            <p>der Coolste Client für (Sub)Versionskontrolle</p>
        </div>
    </div>
    <!-- end .header -->
    <div class="menu">
        <ul>
            <li><a href="index.de.html">Heim</a></li>
            <li><a href="about.de.html">About</a></li>
            <li><a href="downloads.de.html">Downloads</a></li>
            <li><a href="support.de.html">Support/Dokumentation</a></li>
            <li><a href="http://stefanstools.sourceforge.net/" hreflang="en">Andere Tools</a></li>
        </ul>
    </div>
    <!-- end .menu -->
