        <div class="sidebar">
            <ul>
                <li>
                    <h2>Info</h2>
                    <ul>
                        <li><a href="newsarchive.html" hreflang="en">Neuigkeiten</a><span>News Archive</span></li>
                        <li><a href="about.de.html">About</a><span>Highlights von TortoiseSVN</span></li>
                        <li><a href="screenshots.de.html">Screenshots</a><span>Screenshots von verschiedenen Dialogen</span></li>
                        <li><a href="testimonials.html" hreflang="en">Testimonials</a><span>Was Benutzer über TortoiseSVN sagen (Englisch)</span></li>
                    </ul>
                </li>
                <li>
                    <h2>Support</h2>
                    <ul>
                        <li><a href="faq.de.html">FAQ</a><span>Häufig gestellte Fragen</span></li>
                        <li><a href="support.de.html">Hilfe</a><span>Wie und wo man Hilfe kriegt</span></li>
                        <li><a href="usefultips.de.html">Nützliche Tips</a><span>Tips für weniger bekannte Features</span></li>
                        <li><a href="community.html" hreflang="en">Mailing lists</a><span>Wo man die Mailing Listen findet</span></li>
                        <li><a href="reportbug.html" hreflang="en">Fehler melden</a><span>Wie und Wo man Fehler melden kann</span></li>
                        <li><a href="status.html" hreflang="en">Projektstatus</a><span>Übersicht aller Releases</span></li>
                    </ul>
                </li>
                <li>
                    <h2>Misc</h2>
                    <ul>
                        <li><a href="issuetrackerplugins.de.html">Issue tracker plugins</a><span>Plugins zur Verbindung mit Issue Trackern</span></li>
                        <li><a href="svnprotocolhandler.de.html">SVNProtocolHandler</a><span>Ein plugin für IE um svn:// Repositories anzuzeigen</span></li>
                        <li><a href="blogposts.html" hreflang="en">Verschiedenes</a><span>Artikel welche nicht in eine Kategorie passen</span></li>
                    </ul>
                </li>
                <li>
                    <h2>Open Source</h2>
                    <ul>
                        <li><a href="http://sourceforge.net/blog/cca07/"><img src="/img/SFAward.png" alt="SourceForge.net Community Choice Award" title="SourceForge.net Community Choice Award" width="200" height="45"></a></li>
                        <li><script src="https://www.openhub.net/p/3180/widgets/project_users.js?style=blue"></script></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- .sidebar -->
