        <div class="sidebar">
            <ul>
                <li>
                    <h2>信息</h2>
                    <ul>
                        <li><a href="about.zh.html">关于我们</a><span>关于 TortoiseSVN</span></li>
                        <li><a href="screenshots.html">预览图</a><span>TortoiseSVN 预览图</span></li>
                        <li><a href="testimonials.html">反馈</a><span>看看大家怎么评价我们</span></li>
                        <li><a href="newsarchive.html">新闻存档</a><span>新闻存档</span></li>
                    </ul>
                </li>
                <li>
                    <h2>支持</h2>
                    <ul>
                        <li><a href="faq.zh.html">常见问题</a><span>常见问题及解答</span></li>
                        <li><a href="support.zh.html">帮助文档</a><span>包含完整的帮助文档</span></li>
                        <li><a href="usefultips.html">小技巧</a><span>了解下使用技巧</span></li>
                        <li><a href="community.html">邮件列表</a><span>查看如何使用邮件列表</span></li>
                        <li><a href="reportbug.html">Bug 报告</a><span>了解如何给我们反馈 Bug</span></li>
                        <li><a href="translation.html">翻译</a><span>帮助我们进行翻译</span></li>
                        <li><a href="status.html">项目状态</a><span>查看发布情况</span></li>
                    </ul>
                </li>
                <li>
                    <h2>其他</h2>
                    <ul>
                        <li><a href="issuetrackerplugins.html">问题跟踪插件</a><span>帮助进行问题跟踪的插件</span></li>
                        <li><a href="svnprotocolhandler.html">SVNProtocolHandler</a><span>提供 IE 进行浏览的插件 svn:// repositories</span></li>
                        <li><a href="blogposts.html">其他信息</a><span>可以查阅其他信息</span></li>
                    </ul>
                </li>
                <li>
                    <h2>开源</h2>
                    <ul>
                        <li><a href="http://sourceforge.net/blog/cca07/"><img src="img/SFAward.png" alt="Sourceforge.net Community Choice Award" title="Sourceforge.net Community Choice Award" width="200" height="45"></a></li>
                        <li><script src="https://www.openhub.net/p/3180/widgets/project_users.js?style=blue"></script></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end .sidebar -->
