<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<?include Includes.wxi?>
	<Module Id='TortoiseOverlays' Guid='$(var.UpgradeGuid)' Language='0' Version='1.0.0.0'>
		<Package Id='????????-????-????-????-????????????' Description='Overlay handler for Tortoise clients'
				  Comments='Provided by TortoiseSVN'
				  Manufacturer='TortoiseSVN' InstallerVersion='200' Compressed='yes' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='CommonFilesFolder' Name='Common'>
				<Directory Id='TortoioseOverlays' Name='TortOvl' LongName='TortoiseOverlays'>
					<Component Id="C__overlaydll" Guid="$(var.OverlayDll)" Win64="$(var.Win64YesNo)">
						<File Id="F__overlaydll" Name="TORTOVL.DLL" LongName="TortoiseOverlays.dll" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseOverlays.dll" KeyPath="yes" />
					</Component>

					<?include TortoiseOverlaysDir.wxi?>

					<Directory Id="D__icons" Name="ICONS" LongName="icons" >
						<Directory Id="D__iconsxpstyle" Name="XPStyle" >
							<Component Id="C__iconsxpstyle" Guid="$(var.GuidIconsXPStyle)" Win64="$(var.Win64YesNo)">
								<File Id="F__XPStyleConflictIcon" Name="TORTOI1.ICO" LongName="NormalIcon.ico" src="..\Resources\Icons\XPStyle\NormalIcon.ico" KeyPath="yes" />
								<File Id="F__XPStyleInSubversionIcon" Name="TORTOI2.ICO" LongName="ModifiedIcon.ico" src="..\Resources\Icons\XPStyle\ModifiedIcon.ico" />
								<File Id="F__XPStyleModifiedIcon" Name="TORTOI3.ICO" LongName="ConflictIcon.ico" src="..\Resources\Icons\XPStyle\ConflictIcon.ico" />
								<File Id="F__XPStyleReadOnlyIcon" Name="TORTOI4.ICO" LongName="DeletedIcon.ico" src="..\Resources\Icons\XPStyle\DeletedIcon.ico" />
								<File Id="F__XPStyleDeletedIcon" Name="TORTOI5.ICO" LongName="ReadOnlyIcon.ico" src="..\Resources\Icons\XPStyle\ReadOnlyIcon.ico" />
								<File Id="F__XPStyleLockedIcon" Name="TORTOI6.ICO" LongName="LockedIcon.ico" src="..\Resources\Icons\XPStyle\LockedIcon.ico" />
								<File Id="F__XPStyleAddedIcon" Name="TORTOI7.ICO" LongName="AddedIcon.ico" src="..\Resources\Icons\XPStyle\AddedIcon.ico" />
								<File Id="F__XPStyleIgnoredIcon" Name="TORTOI7.ICO" LongName="IgnoredIcon.ico" src="..\Resources\Icons\XPStyle\IgnoredIcon.ico" />
								<File Id="F__XPStyleUnversionedIcon" Name="TORTOI7.ICO" LongName="UnversionedIcon.ico" src="..\Resources\Icons\XPStyle\UnversionedIcon.ico" />
							</Component>
						</Directory>
					</Directory>
					
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>