---
layout: default
title: Community/Mailing lists
description: Mailing lists
lang: en
showAds: true
---


{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Community/Mailing lists</h1>
    <div class="entry">
        <p>We use <a href="https://groups.google.com/">Google Groups</a>
        to discuss everything about TortoiseSVN. Everyone is
        welcome to join our discussions.
        </p>
        <h3>How to join</h3>

        <p>We have two groups for discussions:</p>
        <dl>
            <dt><a href="https://groups.google.com/group/tortoisesvn">users group</a></dt>
            <dd>
            <p>This is the list for the users of TortoiseSVN. If
            you have questions, suggestions or you want to report
            a bug, join here.</p>

            <p>Just go to <a href="https://groups.google.com/group/tortoisesvn">https://groups.google.com/group/tortoisesvn</a>
            and join the discussion. Note: if you don't join the group, your messages
            will be moderated and therefore show up delayed.</p>

            </dd>
            <dt><a href="https://groups.google.com/group/tortoisesvn-dev">developers list</a></dt>
            <dd>
            <p>Here, the <em>developers</em> discuss technical details about
            new features. If you want to join the development of
            TortoiseSVN, join here! This is also the place where
            users of the <a href="https://nightlybuilds.tortoisesvn.net/">nightly builds</a>
            report issues.</p>
            <p><strong>If you're not sure about where you should join,
            use the users list instead.</strong></p>
            <p>Just go to <a href="https://groups.google.com/group/tortoisesvn-dev">https://groups.google.com/group/tortoisesvn-dev</a>
            and join in.</p>
        </dl>

        {% include adsense_inpage.html %}

        <h3>Mailing List Etiquette</h3>
        <p>A little bit of common sense should make it unnecessary
        to place this etiquette here, but since many people don't
        seem to know some basic rules...</p>

        <p>Here they are:</p>
        <ul>
            <li>Answers go only to the mailing-list. Do not answer
            to people directly.</li>
            <li>Don't mail the project owners directly. We are
            going to ditch these mails.</li>
            <li>Answer below the quote.</li>
            <li>Delete unnecessary text (signatures) in the quote.</li>
            <li>No full quoting. Keep just enough of the original
            text so that others can see the questions you are
            answering.</li>
            <li>If you want to change to a different topic, create
            a new thread. Don't just answer another message and
            replace the subject.</li>
            <li>No big (larger than 50kB) attachments. Screenshots
            are OK, but send them as JPEGs or PNGs. Some people
            sent us screenshots in a Word document (!) - don't
            expect anyone to even open such a document.</li>
            <li>Don't ask for mail receipts.</li>
            <li>Don't send "out-of-office" replies or other
            autoresponder messages to the list.</li>
        </ul>

        <p>for further reading see:</p>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Posting_style">How To Quote</a>.</li>
            <li><a href="http://www.catb.org/~esr/faqs/smart-questions.html">How To Ask Questions The Smart Way</a></li>
        </ul>

        <p>Thanks.</p>

        <h3>Professional Support</h3>
        <p>A lot of companies also offer professional support.
        Some of them are also active in the development of
        Subversion itself and have hired developers who work
        actively on the projects.</p>
    </div>
</div>
