---
layout: default
title: Support
id: support
description: how to get support for TortoiseSVN
keywords: support, mailing lists
lang: en
includeGCSE: true
---

<div class="post">
    <h1 class="title">Support</h1>
    <div class="entry">
        <p>There are several places where you can get support for
        TortoiseSVN.</p>

        <h2>Online documentation</h2>
        <div class="gcse-searchbox-only"></div>
    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Manuals (release version)</h1>
    <div class="entry">
        <p>If you have TortoiseSVN installed, you can simply press
        the <kbd>F1</kbd> key in any dialog to start up the help. That help
        is the same as the documentation you find here.</p>

        <table class="translations-table left-aligned table-hover">
        <thead>
        <tr>
            <th>Language</th>
            <th colspan="2">TortoiseSVN</th>
            <th colspan="2">TortoiseMerge</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="flag-gb">English</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-en.pdf/">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_en/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-en.pdf/">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_en/index.html">HTML</a></td>
        </tr>

        {%- include translations-docs.html -%}

        </tbody>
        </table>

    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Manuals (development version)</h1>
    <div class="entry">
        <p>These manuals are only for the trunk build, not released
        versions. Please note that these docs aren't updated
        nightly but very irregularly.</p>

        <table class="translations-table left-aligned table-hover">
        <thead>
        <tr>
            <th>Language</th>
            <th>TortoiseSVN</th>
            <th>TortoiseMerge</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="flag-gb">English</td>
            <td><a href="/docs/nightly/TortoiseSVN_en/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_en/index.html">HTML</a></td>
        </tr>

        {%- include translations-docs.html nightly=true -%}

        </tbody>
        </table>
    </div>
</div>
<div class="post">
    <h1 class="title">Other support</h1>
    <div class="entry">
        <h3>Older Manuals</h3>
        <p>Older releases are available from the
        <a href="https://osdn.net/projects/tortoisesvn/storage/">OSDN.net files</a> section.</p>

        <h3>Professional Support</h3>
        <p>A lot of companies also offer professional support. Some
        of them are also active in the development of Subversion
        itself and have hired developers who work actively on the
        projects.</p>

        <h3>Project Status</h3>
        <p>Have a look at our <a href="/status.html">project status</a>
        page to see what we are working on at the moment, and to
        check the release history.</p>

        <h3>TortoiseSVN book</h3>
        <p>The <a href="https://www.packtpub.com/product/tortoisesvn-1-7-beginner-s-guide/9781849513449">TortoiseSVN 1.7 Beginner's Guide</a> is a
        well written book, as its title says for beginners. But
        it is not available for free.
        I've also written a <a href="/beginnersguide.html">small review</a>.
        </p>

        <h3>Subversion book</h3>
        <p>Read the official Subversion book
        <a href="http://www.amazon.com/gp/product/0596510330/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0596510330&amp;linkCode=as2&amp;tag=to0d-20&amp;linkId=LFU5LJ45CYBLTFPK">Version Control with Subversion</a>
        to find out what it's all about. This book explains the
        general concepts of Subversion. It's no must, but it'll
        give you deep insight. There's also a
        <a href="http://svnbook.red-bean.com/">free online version</a> available.</p>

        <h3>FAQ</h3>
        <p>A list of common problems and their solutions can be
        found in the <a href="/faq.html">FAQ</a>. Please note that
        the FAQ contains answers, but is not the place to ask
        questions. For that you need to go to the users mailing list.
        When we have a good answer to a good question we post it
        in the FAQ.</p>

        <h3>Mailing list</h3>
        <p>If your question is not answered in any of these places,
        you can subscribe to one of our two mailing lists:</p>
        <ul>
        <li>The users list, where we deal with the howto
        (configuration, daily work, ...). If there is something you
        don't understand, feel free to ask a question here and you
        will usually get a rapid response.</li>
        <li>The developer list, where we discuss the internals of
        TortoiseSVN (bugs, features, enhancements, ...). If you
        want to contribute to the project, this is where the
        development discussions take place.</li>
        </ul>
        <p>Please have a look at our <a href="/community.html">community page</a>
        to find out how to subscribe to and search those mailing lists.</p>
    </div>
</div>
