---
layout: default
title: Release notes for 1.10
description: TortoiseSVN release notes, version 1.10
keywords: release notes
lang: en
includeBaguetteBox: true
showAds: true
---


<div class="post" id="news">
    <h2>What's New in TortoiseSVN 1.10</h2>

    {% include adsense_inpage.html %}

    <ul>
        <li><a href="#requirements">Requirements</a></li>
        <li><a href="#shelving">Shelving</a></li>
        <li><a href="#tmerge">New UI for TortoiseMerge</a></li>
        <li><a href="#various">Various improvements</a></li>
    </ul>

    <p>TortoiseSVN 1.10 is a superset of all previous TortoiseSVN releases,
    and is considered the current stable and "best" release. Anything in
    earlier versions is also in 1.10, but 1.10 contains features and
    bugfixes not present in any earlier release.</p>

    <p>This page describes only major changes. For a complete list
    of changes, you can check our
    <a href="https://osdn.net/projects/tortoisesvn/scm/svn/">commit logs</a></p>

    <p>Don't forget to check out all the changes in the Subversion
    library that also is now at version 1.10: all those changes
    are of course in TortoiseSVN as well. See the full list
    of changes in the <a href="http://subversion.apache.org/docs/release-notes/1.10.html">Subversion 1.10 release notes</a>.</p>
</div> <!-- news -->

<div class="post" id="requirements">
    <h2>Requirements</h2>

    <p>TortoiseSVN 1.10 and later requires at least Windows 7
    or later. It won't run on Windows Vista anymore.</p>
    <p>If you're still need to use those earlier OS, you have to keep
    using TortoiseSVN 1.9 for Windows Vista or TortoiseSVN 1.8 for Windows XP.</p>
</div> <!-- requirements -->

{% include adsense_inpage.html %}

<div class="post" id="shelving">
    <h2>Shelving and Unshelving</h2>

    <p>
      Subversion 1.10 has a new experimental feature called <code>shelving</code>
      which is enabled in TortoiseSVN 1.10.
    </p>
    <p>
      This feature allows you to shelve local changes, work on something else and commit
      and then unshelve those stored changes again.
    </p>
</div> <!-- shelving -->

<div class="post" id="tmerge">
    <h2>New UI for TortoiseMerge</h2>

    <p>TortoiseMerge has been rewritten to use the Windows ribbon controls
    instead of the custom one. Which makes TortoiseMerge start up much
    faster than before and the UI also reacts faster.</p>
    <p>TortoiseMerge can now show and change the encoding of the files and the EOLs.</p>
</div> <!-- tmerge -->

<div class="post" id="various">
    <h2>Various improvements</h2>

    <p>Almost every dialog and feature got improved and added some small features.</p>
</div> <!-- tmerge -->


