/************************************************************************/
/* Custom style-sheet stuffs for the TortoiseSVN documentation in       */
/* single page HTML Help File format                                         */
/*                                                                      */
/* If you prefer sans-serif fonts, just replace all the instances of    */
/* 'times new roman,times,serif' with 'arial,helvetica,sans-serif'.     */
/************************************************************************/


/* Generic tag-level style definitions */

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

/* Don't override these styles, because they interfere with standard tigris.org styles and munge the appearance of the website.
H1, H2, H3 H4
P,LI,UL,OL,DD,DT,TD
*/

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: black;
}

div.table {
  float: left;
  margin-left: 50px;
}
div.table title { background-color: #FFFFFF; width:100%; border: 0px; }
div.table p { text-align: center; }
div.table table {
	background-color: #7099C5;
	font-size: 90%;
	border-width: 0px;
}
div.table th {
	text-align: center;
	color: white;
	background-color: #7099C5;
	padding: 1px 4px 1px 4px;
	border: none;
	vertical-align: top;
}
div.table tr {
	background-color: #f0f0ff;
}
div.table td {
	padding: 2px 4px 1px 4px;
	border: none;
}
div.table tr.incomplete {
	background-color: #FFFFCC;
}
.trans, .fuzzy, .untrans {
	text-align: right;
}

