import os, string, shutil

searchfor = [ '$TSVNSHORTVERSION$', '$TSVNVERSION$', '$SVNVERSION$' ]
replacewith = [ '1.6.15', '1.6.15.21042', '1.6.16' ]
setpath = 'D:\\Development\\SVN\\tsvnsite'

for root, dirs, files in os.walk(setpath, topdown=False):
    for name in files:
        os.remove(os.path.join(root, name))
    for name in dirs:
        os.rmdir(os.path.join(root, name))
if os.path.exists(setpath):
    os.rmdir(setpath)
shutil.copytree(os.path.abspath('..'), setpath)

footerFile = file(os.path.join(setpath, 'footer.html'), 'r')
menuFile = file(os.path.join(setpath, 'menu.html'), 'r')
menuFileDE = file(os.path.join(setpath, 'menu.de.html'), 'r')
sidebarFile = file(os.path.join(setpath, 'sidebar.html'), 'r')
sidebarFileDE = file(os.path.join(setpath, 'sidebar.de.html'), 'r')
adtopFile = file(os.path.join(setpath, 'files/adsense_top.txt'), 'r')
adtopFileDE = file(os.path.join(setpath, 'files/adsense_top.de.txt'), 'r')
adtopBigFile = file(os.path.join(setpath, 'files/adsense_downloadtop.txt'), 'r')
adtopBigFileDE = file(os.path.join(setpath, 'files/adsense_downloadstop.de.txt'), 'r')
adinpageFile = file(os.path.join(setpath, 'files/adsense_inpage.txt'), 'r')
adinpageFileDE = file(os.path.join(setpath, 'files/adsense_inpage.de.txt'), 'r')

footerText = footerFile.read()
footerFile.close()

menuText = menuFile.read()
menuFile.close()

menuTextDE = menuFileDE.read()
menuFileDE.close()

sidebarText = sidebarFile.read()
sidebarFile.close()

sidebarTextDE = sidebarFileDE.read()
sidebarFileDE.close()

adtopText = adtopFile.read()
adtopFile.close()

adtopTextDE = adtopFileDE.read()
adtopFileDE.close()

adtopBigText = adtopBigFile.read()
adtopBigFile.close()

adtopBigTextDE = adtopBigFileDE.read()
adtopBigFileDE.close()

adinpageText = adinpageFile.read()
adinpageFile.close()

adinpageTextDE = adinpageFileDE.read()
adinpageFileDE.close()

searchfor.extend( [ '<!--#include FILE="menu.html" -->', '<!--#include FILE="menu.de.html" -->', '<!--#include FILE="sidebar.html" -->', '<!--#include FILE="sidebar.de.html" -->', '<!--#include FILE="footer.html" -->', '$ADSENSE_TOP$', '$ADSENSE_TOPDE$', '$ADSENSE_BIGTOP$', '$ADSENSE_BIGTOPDE$', '$ADSENSE_INPAGE$', '$ADSENSE_INPAGEDE$' ] )
replacewith.extend( [ menuText, menuTextDE, sidebarText, sidebarTextDE, footerText, adtopText, adtopTextDE, adtopBigText, adtopBigTextDE, adinpageText, adinpageTextDE ] )

for root, dirs, files in os.walk(setpath):
    fname = files
    for fname in files:
        if fname.endswith('.html'):
            inputFile = file(os.path.join(root,fname), 'r')
            data = inputFile.read()
            inputFile.close()
            for i in range(len(searchfor)):
                x = searchfor[i]
                y = replacewith[i]
                search = string.find(data, x)
                if search >=1:
                    data = data.replace(x, y)

            outputFile = file(os.path.join(root,fname), 'w')
            outputFile.write(data)
            outputFile.close()

        