/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "config.h"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,1,22
 PRODUCTVERSION 2,1,22
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "FileVersion", VERSION
            VALUE "ProductName", PACKAGE
            VALUE "ProductVersion", VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////
