#body {
#	bgcolor: gray ;
#}

img.StateIcon {
	border: none;
	width: 32px;
	height: 32px;
}

thead {
	color: white;
	background: black;
}

.tl1 {
	background: silver;
}

.tl2 {
	background: #a0a0a0;
}

.tl3 {
	background: gray;
}

img.history {
	width: 1040px;
	height: 2200px;
}