body {
    background: #27343C;
    color: black;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    border-bottom: 1px dotted #999999;
    color: #F93D00;
    text-decoration: none;
}

blockquote {
    background: transparent url("../img/quoteleft.png") left top no-repeat;
}

blockquote div,
blockquote p {
    background: transparent url("../img/quoteright.png") right bottom no-repeat;
    padding: 0 48px;
}

h1,
h2,
h3 {
    color: #417FDA;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 160%;
    margin-top: 10px;
}

h2 {
    font-size: 140%;
    margin-top: 10px;
}

h3 {
    font-size: 120%;
    font-style: italic;
    margin-top: 10px;
}

img {
    border: none;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
    text-align: left;
}

td {
    text-align: left;
}

p,
ol,
ul {
    line-height: 180%;
    margin-top: 0;
}

.hover tr:hover {
    background-color: #E1EAFE;
}

.caution,
.important,
.tip,
.warning {
    background-position: 5px 1.33em;
    background-repeat: no-repeat;
    border-left: 1px solid;
    border-top: 5px solid;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
       -moz-border-radius-topleft: 4px;
    clear: both;
    margin: 1em 0 0 1em;
    min-height: 52px;
    padding: 0 0 0 42px;
    width: 80%;
}

.caution h3,
.important h3,
.tip h3,
.warning h3 {
    font-size: 1.05em;
    font-style: italic;
    font-weight: bold;
    padding-top: 4px;
}

.caution {
    background-image: url("../img/caution.png");
    border-color: #C60;
}

.caution h3 {
    color: #C60;
}

.important {
    background-image: url("../img/important.png");
    border-color: #069;
}

.important h3 {
    color: #069;
}

.tip {
    background-image: url("../img/tip.png");
    border-color: #090;
}

.tip h3 {
    color: #090;
}

.warning {
    background-image: url("../img/warning.png");
    border-color: #900;
}

.warning h3 {
    color: #900;
}

#wrapper {
    margin: 0 auto;
    padding-top: 20px;
    width: 910px;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

/* Header */
#header {
    margin: 0 auto;
    width: 910px;
    height: 50px;
}

/* Logo */
#logo {
    color: white;
    float: left;
    text-shadow: 0 0 2px white;
    width: 640px;
}

#logo a {
    background: none;
    border: none;
    color: white;
}

#logo h1 {
    float: left;
    font-size: 2.6em;
    letter-spacing: -1px;
    margin-top: -10px;
    padding: 0;
}

#logo p {
    float: left;
    font: italic 14px Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 10px;
}

/* Search */
#langselection {
    float: right;
    padding: 15px;
    text-align: right;
    width: 230px;
}

#banner {
    background: url("../img/tortoisesvn_logo_hor468x64.png") no-repeat center top;
    margin: 0 auto;
    padding: 0;
    width: 870px;
    height: 64px;
}

/* Menu */
#menu {
    background-color: #565F68;
    border-radius: 2px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
    margin: 0 auto;
    padding: 0;
    text-shadow: 0 0 2px #B7B7B7;
    width: 910px;
    height: 50px;
}

#menu a {
    background: white;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
       -moz-border-radius-topleft: 4px;
       -moz-border-radius-topright: 4px;
    color: black;
    display: block;
    font-size: 13px;
    margin-right: 3px;
    margin-top: 20px;
    outline: none;
    padding: 8px 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu li {
    float: left;
}

#menu ul {
    line-height: normal;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

/* Page */
#page {
    background: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
    margin: 0 auto;
    padding-top: 20px;
    width: 910px;
}

/* Content */
#content {
    float: right;
    padding: 20px 30px 0 0;
    width: 590px;
}

.post .title {
    color: black;
}

.title a {
    background: none;
    border: none;
    color: #417FDA;
}

.title a:hover {
    text-decoration: underline;
}

.post .meta {
    border-bottom: 1px dashed #D2D4C9;
    font: italic 11px/180% Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    text-align: left;
}

.post .entry {
    padding: 10px 0 20px 0;
    text-align: justify;
}

/* Sidebar */
#sidebar {
    color: black;
    float: left;
    padding: 20px 0 0 30px;
    width: 220px;
}

#sidebar a {
    border: none;
    color: #417FDA;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar h2 {
    color: #417FDA;
    letter-spacing: -0.5px;
    text-shadow: 0 0 2px #B7B7B7;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    padding-bottom: 30px;
}

#sidebar li li {
    border-bottom: 1px dashed #D2D4C9;
    line-height: 35px;
}

#sidebar li li span {
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 100%;
    margin-top: -10px;
    padding: 0;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Footer */
#footer {
    color: #B2B2B2;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    width: 910px;
    height: 20px;
}

#footer p {
    font-size: 9px;
    line-height: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* ad group box */
.adgroup {
    border-bottom: 1px solid #E8E8E8;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #E8E8E8;
    border-top: 1px solid #D0D0D0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
}

.adgroup legend {
    color: #417FDA;
    padding: 2em;
}

.fancybox a {
    border: none;
}

.fancybox-skin a {
    border-bottom: none;
}

/* all A tags whose HREF attribute ends in .pdf */
a[href$=".pdf"],
a[href$=".pdf?download"] {
    background: transparent url("../img/icon_pdf.gif") no-repeat center right;
    padding-right: 18px;
}

/* all A tags whose HREF attribute starts with mailto: */
a[href ^="mailto:"] {
    background: transparent url("../img/icon_mailto.gif") no-repeat center right;
    padding-right: 18px;
}

a[rel ~="en"] {
    background: transparent url("../img/icon_english.png") no-repeat center right;
    padding-right: 18px;
}
